<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Department List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    
</head>
<body>
<div class="container">
    <div class="button-container">
        <a href="/employees" >Back to Employee List</a>
        <a href="/departments/add" class="btn btn-custom">Add New Department</a>
    </div>

    <h1>Department List</h1>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="department : ${departments}">
            <td th:text="${department.id}"></td>
            <td th:text="${department.name}"></td>
            <td>
                <a th:href="@{/departments/edit/{id}(id=${department.id})}" >Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>
