<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Department</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div class="container">
        <h1>Edit Department</h1>
        <form th:action="@{/departments/edit/{id}(id=${department.id})}" th:object="${department}" method="post">
            <input type="hidden" name="_method" value="put" /> <!-- Hidden field to simulate PUT request -->
            
            <div class="form-group">
                <label for="name">Department Name:</label>
                <input type="text" id="name" th:field="*{name}" class="form-control" required />
            </div>
            
            <div class="form-group text-center">
                <button type="submit" class="btn btn-custom">Update Department</button>
            </div>
        </form>

        <div class="text-center">
            <a href="/departments" class="btn btn-back">Back to Department List</a>
        </div>
    </div>
</body>
</html>
